*.class

# Package Files #
*.jar
*.war
*.ear
/lib
/doc
/natives
/bin
~*
*~
/config
/data
galacticum-html/war
galacticum-desktop/bin
*.log
galacticum-android/bin
galacticum-ios/libs/
galacticum-html/.gwt/
