*.class

# Package Files #
*.jar
*.war
*.ear
*/lib
/doc
/natives
*/bin
*.zip
*.rar
*.exe
*.a
*.so
**/gen/
~*
*~
/config
/data
galacticum-html/war
galacticum-desktop/bin
galacticum/bin
*.log
galacticum-android/bin
galacticum-ios/libs/
galacticum-html/.gwt/
